@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 214, 219, 220;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 214, 219, 220;
}

body {
  color: black;
  background: #0E0417;
  font-family: Arial, Helvetica, sans-serif;
}

.focus-scale:focus {
  transform: scale(1.1); /* Adjust the scale value as needed */
  transition: transform 0.3s ease; /* Adjust the duration and easing as desired */
}

.card {
  background-color: rgb(255, 255, 255, 0.85);
}
